<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
</head>
<body>
    <div class="bg-gray-200 w-1/2 p-4 m-4 align-center">
        <h1 class ="text-3 font-bold">Welcome to SCM</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aut et repellat officia excepturi, ad, consequatur sint voluptatibus commodi vel ab dolore incidunt nobis, sit neque tempora animi aperiam est!</p>
    </div>
</body>
</html>